<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.itwillbs.zero.mapper.BankMapper">
	<!-- 토큰 정보 저장 - INSERT -->
	<insert id="insertToken">
		INSERT 
			INTO BANK_TOKEN
			VALUES (
				null
				, #{token.access_token}
				, #{token.refresh_token}
				, #{token.scope}
				, #{token.user_seq_no}
				, #{member_id}
			)
	</insert>
	
	
	<!-- 토큰 정보 조회 - JOIN 구문 활용 -->
	<select id="selectTokenForBankAuth" >
			SELECT 
				t.id, t.access_token, t.user_seq_no
			FROM BANK_TOKEN AS t
			LEFT JOIN MEMBER AS m
			ON t.member_id = m.memebr_id
			WHERE 
				m.member_id = #{member_id}
				AND m.bank_auth_status = 'Y'
	
	</select>
</mapper>
