<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.zero.mapper.MemberMapper">
	<!-- 설정상 먼저 만들어둠! 파이팅! - 지영 -->
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.itwillbs.zero.vo.MemberVO">
		INSERT
			INTO
				MEMBER
			VALUES (
				#{member_id}
				, #{member_idx}
				, #{member_nickname}
				, #{member_passwd}
				, #{member_name}
				, #{member_birth}
				, now()                -- {member_date}
				, #{member_phone}
				, '활동'                -- {member_status}
				, 0                    -- {member_agreement_marketing_email}
				, 0                    -- {member_agreement_marketing_sms}
				, '회원'                -- {member_type}
				, 'N'                   -- {member_mail_auth}
				, #{member_image} 
				, #{member_address1}
				, #{member_address_detail1}
				, #{member_address2}
				, #{member_address_detail2}
				, #{member_address3}
				, #{member_address_detail3}
				, #{member_withdrawal}
				, #{member_bank_name}
				, 'N'
				, #{member_zipcode1}
				, #{member_zipcode2}
				, #{member_zipcode3}
				, #{member_intro}
			)
	
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(member_id) FROM MEMBER WHERE member_id = #{member_id}
	</select>
	
	<!-- 특정 컬럼으로 회원정보 조회 -->
	<select id="selectMemberCheck" resultType="map">
		SELECT *
			FROM MEMBER
				WHERE ${column} = #{value}
	</select>
	
	<!-- 세션 아이디가 동일한 회원 프로필 이미지 변경 -->
	<update id="updateMemberImage">
		UPDATE MEMBER
			SET ${column2} = #{fileName1}
				WHERE ${column1} = #{member_id}
	</update>
	
	
		
	
	<!-- 회원정보 조회(혜진) -->
	<select id="selectMember" resultType="com.itwillbs.zero.vo.MemberVO">
		SELECT * FROM MEMBER
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 계좌인증 완료한 회원의 member_bank_auth를 'Y'로 수정(혜진) -->
	<update id="updateBankAuth">
		UPDATE MEMBER
		SET member_bank_auth = 'Y'
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원 아이디로 계좌정보 조회 -->
	<select id="selectMemberJoin">
		SELECT * 
			FROM MEMBER m
				JOIN ZPAY z
					ON m.member_id = z.member_id
					WHERE m.member_id = #{member_id}
	</select>
</mapper>
