<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.zero.mapper.SecondhandMapper">

	<!-- 중고 카테고리 조회 작업 -->
	<select id="selectCategoryList" resultType="hashmap">
		SELECT * 
		FROM 
			CATEGORY
		WHERE 
			category_type = '중고'
	</select>
	
	<!-- 상품번호에 해당하는 카테고리 정보 조회작업 -->
	<select id="selectCategory" resultType="String">
		SELECT 
			c.category_name
		FROM
			CATEGORY c
		JOIN
			SECONDHAND s
		ON 
			c.category_idx = s.category_idx
		WHERE 
			s.secondhand_idx = #{secondhand_idx}
	</select>
	
	
	<!-- 중고 상품 등록 작업  -->
	<insert id="insertProduct">

		INSERT INTO 
			SECONDHAND	
		VALUES (
			null 								-- secondhand_idx		 	
			, #{secondhand_price}
			, #{secondhand_subject}
			, #{secondhand_content}
			, #{secondhand_deliveryType_ptp}
			, #{secondhand_paymentType_ptp}
			, #{secondhand_image1}
			, #{secondhand_image2}
			, #{secondhand_image3}
			, now()								-- 작성일
			, null 								-- update date
			, 0									-- read count(조회수)
			, secondhand_idx + 1				-- re_ref
			, '판매중'							-- deal_status(default 거래중?)
			, #{member_idx}	 					-- 작성자
			, #{category_idx}
			, #{secondhand_deliveryType_parcel}
			, #{secondhand_deliveryType_zstation}
			, #{secondhand_deliveryType_zman}
			, #{secondhand_paymentType_zpay}
			)
	</insert>
	
	<!-- 중고상품 목록 조회작업 -->
	<select id="selectSecondhandList" resultType="com.itwillbs.zero.vo.SecondhandVO">
		SELECT
			*
		FROM
			SECONDHAND
		ORDER BY
			secondhand_first_date DESC 
<!-- 		LIMIT -->
<!-- 			#{startRow} -->
<!-- 			,#{listLimit} -->
	</select>
	
	<!-- 중고상품 목록 개수 조회작업(페이징) -->
	<select id="selectSecondhandListCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			SECONDHAND
	</select>
	
	<!-- 끌어올리기 작업 시 업데이트 처리 (등록날짜)-->
	
</mapper>
