<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.zero.mapper.ZmanDeliveryMapper">

	<!-- 배달 예정 목록 조회 - SELECT -->
	<!-- 중고물품 오더 테이블과 JOIN 필요 -->
	<select id="selectDeliveryYetList" resultType="com.itwillbs.zero.vo.ZmanDeliveryVO">
		SELECT
			zd.*, os.order_secondhand_product
		FROM
			ZMAN_DELIVERY zd 
		JOIN
			ORDER_SECONDHAND os
			ON 
				zd.order_secondhand_idx = os.order_secondhand_idx
		WHERE zman_delivery_status = "배달 예정"
	</select>
	
	<!-- DB 에 저장된 출발지와 도착지 가져오기 - 파라미터 zman_delivery_idx -->
	<select id="selectDeliveryLocation" resultType="com.itwillbs.zero.vo.ZmanDeliveryVO">
		SELECT *
			FROM ZMAN_DELIVERY
			WHERE zman_delivery_idx = 15;
	</select>
	
	<!-- ZMAN 중고물품 오더 배달 수락하기 - UPDATE -->
	<update id="updateDelivery">
		UPDATE 
			ZMAN_DELIVERY 
			SET 
				zman_delivery_accepttime = now()
				, zman_delivery_status = '배달 수락'
				, zman_id = #{zman_id}
			WHERE
				zman_delivery_idx = #{zman_delivery_idx};
	</update>
	
	<!-- 배달 상세 정보 - 출발지와 배달지 가져오기 - SELECT -->
	<select id="selectDeliveryDetail" resultType="com.itwillbs.zero.vo.ZmanDeliveryVO">
		SELECT *
			FROM
				ZMAN_DELIVERY
			WHERE
				zman_delivery_idx = #{zman_delivery_idx};
	</select>
	
	<!-- updateDeliveryDetailStart -->
<!-- 	<update id="updateDeliveryDetailStart"> -->
<!-- 		UPDATE -->
<!-- 			ZMAN_DELIVERY -->
<!-- 			SET -->
<!-- 				zman_delivery_status = '배달 중' -->
<!-- 				, zman_delivery_starttime = now() -->
<!-- 			WHERE -->
<!-- 				zman_delivery_idx = #{zman_delivery_idx}; -->
<!-- 	</update> -->

	
</mapper>
