@charset "UTF-8";

/* ---------- 알람창 크기조절 ----------------- */
.alarmArticle {
	width: inherit;
	min-height: 100%;
	background-color: #f4f6f8;
	border: 3px solid #eee;
    border-radius: 20px;
}
.alarmContainer {
	margin: auto;
/* 	max-width: 300px; */
	padding: 15px;
}
.contentArea {
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	width: 320px;
    min-height: 380px;
}
.alarmTitleArea {
	display: flex;
	justify-content: space-between;
}
.alarmTitle {
	font-weight: bold;
	margin-left: 5px;
	font-size: 20px;
}
.moreAlarm {
	text-decoration: none;
	color: #555;
	font-size: 14px;
}

.alarmHr {
	margin: 0;
	padding: 0;
}
#alarmList {
	list-style:none;
/* 	align-items: center; */
	margin:0;
	padding: 0;
}
.alarmItem {
	margin: 10px 8px;
}
.alarmTitle {
	font-size: 17px;
}

.alarmTime {
	padding-left: 5px;
	font-size: 12px;
	color: #aaa;
}
.alarmContent {
	font-size: 15px;
	color: gray;
	max-width: 330px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}